blinker==1.9.0
charset-normalizer==3.4.4
click==8.3.0
et_xmlfile==2.0.0
Flask==3.1.2
flaskwebgui==1.1.8
itsdangerous==2.2.0
numpy==2.2.5
Jinja2==3.1.6
openpyxl==3.1.5
pandas==2.3.3
pillow==12.0.0
psutil==7.1.1
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.4
six==1.17.0
tzdata==2025.2
Werkzeug==3.1.3
